<!DOCTYPE html>
<html class='no-js'>
  <head>
    <title>{{ request.page_title }}</title>

    <meta content='width=device-width,initial-scale=1' name='viewport'>

    {{ meta_tags }}

    <link href="{{ 'images/favicon.ico' | asset_url }}" rel='shortcut icon' type='image/x-icon'>
    {% comment %}
    {{ 'blog.css' | local_file | style_tag }}
    {% endcomment %}
    {{ 'blog.css' | asset_url | stylesheet_tag }}

    {{ posthaven.includes_for_head }}

    <style>
      {% if settings.header_bg_color %}
        #header_parent { background-color: {{ settings.header_bg_color }} !important; }
        #header { padding-bottom: 130px !important; }
      {% endif %}
      {% if settings.header_font_color %}
        #header_parent { color: {{ settings.header_font_color }} !important; }
      {% endif %}
    </style>

  </head>

  <body id='site_{{ site.id }}'>
    <div id='container'>
      <div id='header_parent'>
        <div class="navigation">
          {% include 'nav_menu' %}
          {{ posthaven.user_menu }}
        </div>

        <div id='flash'>
          {% for alert in posthaven.alerts %}
            <div class="alert alert-{{ alert.type }}">
              {{ alert.message }}
            </div>
          {% endfor %}
        </div>

        {% unless hide_header %}
          <header id='header'>
            <h1>
              <a href="{{ site.url }}">{{ site.name | smarty_pants }}</a>
            </h1>

            {% if site.description %}
              <h5>{{ site.description | smarty_pants }}</h5>
            {% endif %}

          </header>
        {% endunless %}

      </div>


      <div id='main_container'>
        {% if subhead_content %}
          <section class="subhead">
            {{ subhead_content }}
          </section>
        {% endif %}

        <div class='main-content'>
          {{ content_for_layout }}
        </div>

        {% include 'footer' %}
      </div>
    </div>

    {{ posthaven.includes_for_body }}
  </body>
</html>
