{% capture subhead_content %}
  <h3>
    <strong>Archive</strong>
    <p class="archive-all-dates">{{ archive.all_dates_link }}</p>
  </h3>
{% endcapture %}

<div class="archive-container toggle-tabs">
  <div id="main" class="archive-results">
    {% form 'archive' %}

    <div class="archive-view">
      <a id="all-link" href="#all">All posts</a>
      <a id="date-link" href="#date">Browse by date</a>
    </div>

    <section id="archive-results-all">
      <ul>
        {% archive_results date_format:'%b %e, %Y' %}
        <li class="archive-entry">
          <div class="archive-date">
            {{ result.date }}
          </div>
          <a href="{{ result.url }}">
            <span>{{ result.title }}</span>
          </a>
          <div class="search-highlight">
            {{ result.snippet }}
          </div>
        </li>
        {% endarchive_results %}
      </ul>

      <div class="archive-pagination">
        {{ archive.pagination }}
      </div>
    </section>

    <section id="archive-results-by-date" class="archive-months">
      <ul>
        {% archive_months %}
          <li>
            <a class="month" href={{ month.url }}>{{ month.date }}</a>
            <a class="count" href={{ month.url }}>{{ month.count }} posts</a>
          </li>
        {% endarchive_months %}

      </ul>
    </section>
  </div>
</div>
